@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
img {
  vertical-align: bottom
}
body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.9;
  box-sizing: border-box;
  background-color: #E4EBF2;
}
main 
{
  width: 90%;
  max-width: 1150px;
  padding: 80px 20px;
  margin-left: auto;
  margin-right: auto;

}
h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px 30px;
}
h1 a .flex {
  display: flex;
  align-items: center;
}
h2 {
  font-weight: nomal;
  font-size: 20px;
  text-align: center;
  background-color: #3E6E8C;
  color: rgba(255, 255, 255, 1.00);
  display: inline-block;
  padding: 3px 20px;
  border-radius: 20px;
  margin: 20px 0px;
}
.h2 {
  text-align: center;
}
h3 {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
/*h３装飾*/
h3:before, h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px #F2C2C2;
  border-bottom: solid 1px #F2C2C2;
}
h3:before {
  left: 0;
}
h3:after {
  right: 0;
}
h4 {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
header {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.89);
  box-shadow: 0px 2px 5px rgba(147, 147, 147, 0.54);
}
nav {
  margin-right: 30px;
}
.tools {
  text-align: center;
  background-color:  rgb(223 223 223 / 64%);
  border-radius: 20px;
    margin-top: 1em;
    padding:0.5em;
}
.profile2 div p {
    margin-bottom: 15px;
    height: 150px;
}
header nav ul {
  display: flex;
  font-size: 20px;
  line-height: 1;
}
nav li a {
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
}
nav li::after {
  content: "|";
}
nav li:last-child::after {
  content: none;
}
nav li {
  position: relative;
}
ul {
  list-style-type: none;
}
.nav-button span {
  height: 3px;
  background-color: rgba(116, 116, 116, 1.00);
  position: absolute;
  right: 10px;
  transition: 0.5s;
}
.nav-button {
  width: 40px;
  height: 40px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
.nav-button span:nth-child(1) {
  width: 35px;
  top: 12px;
}
.nav-button span:nth-child(2) {
  width: 44px;
  top: 23px;
}
.nav-button span:nth-child(3) {
  width: 30px;
  top: 34px;
}
.nav-open .nav-button span:nth-child(1) {
  top: 17px;
  transform: rotate(315deg);
}
.nav-open .nav-button span:nth-child(2) {
  width: 0;
  left: 50%;
}
.nav-open .nav-button span:nth-child(3) {
  top: 17px;
  width: 35px;
  transform: rotate(-315deg);
}
.top_img {
  width: 30%;
  max-width: 350px;
	    display: flex;
    align-items: center;
}
.top_img img {
  width: 100%;
  height: auto;
  border-radius: 33px;
}
.sec_profile {
  width: 100%;
}
.profile1, .profile2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.pro1_text {
  width: 50%;
  text-align: center;
  font-size: 18px;
}
.profile1,.profile2{
    padding:15px 15px 30px;
    background-color: #fff;
    border-radius: 20px;
}
.profile2 div {
  width: 30%;
  position: relative;
}
.sec_port ul {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.sec_port li {
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
  width: 300px;
}
.sec_port li img {
  width: 100%;
  height: auto;
}
.sec_port {
  text-align: center;
}
.diary {
  overflow-y: auto;
  height: 300px;
  padding: 30px 50px;
  background-color: rgba(133, 179, 241, 0.36);
  border-radius: 30px;
  font-size: 16px;
}
.diary dd {
  margin-bottom: 1em;
}
.sec_contact {
  text-align: center;
  margin: 50px;
}
.view {
  text-align: center;
  font-size: 22px;
  margin-top: -30px;
    
}
.view a {
color: rgba(0, 0, 0, 1.00);
    padding: 15px 140px;
    display: inline-block;
    font-size: 23px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.4s;
    border: 2px solid #3E6E8C;
}
h1 a figure {
  width: 40px;
  padding-right: 10px;
}
h1 a figure img {
  width: 100%;
  height: auto;
}
.view a:hover {
  background-color: #3E6E8C;
  color: #fff;
}
nav a:hover {
  color: #3E6E8C;
  transition: 0.3s;
}
nav a:hover::before {
  content: "";
  width: 100%;
}
nav a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #F2C2C2;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.sec_port img {
  border-radius: 15px;
}
.sec_port img:hover {
  transition: 0.5s;
  transform: scale(1.04);
}
.pagetop {
  background-color: #fff;
  border-radius: 50% 30% 30% 60%;
border: 2px solid rgba(78,78,78,1.00);
  padding: 30px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  display: none;
  transition: 0.5s;
  color: rgba(78,78,78,1.00);
    font-weight: 700;
    font-size: 20px;
  text-decoration: none;
}
.pagetop:hover {
  transform: rotateY(360deg);
}
footer {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 1.00);
}
h1 a {
  color: #000000;
  text-decoration: none;
}
.area {
  width: 100%;
  height: 100vh;
}
.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background:rgba(62,110,140,0.61);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: #fff;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: #fff;
}
a.my-button {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: 4em auto 1em;
	padding: 10px 40px;
	border: 2px solid #3E6E8C;
	transition: 0.5s;
    border-radius: 10px;
    color: rgba(0, 0, 0, 1.00);
}
a.my-button:hover {
	color: #fff;
	background: #3E6E8C;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
Resources /*ここからSUBページ*/
.works_img, .works_img_x, .works_img_y {
  /* [disabled]display:block; */
}
#sub dl {
  margin: 30px 30px 0;
  display: flex;
  flex-wrap: wrap;
}
#sub dl dt {
  width: 20%;
  text-align: left;
  padding-left: 1.3em;
  background-image: url("img/pow-solid2.svg");
  background-repeat: no-repeat;
  background-position: left 5px;
  background-size: 1.2em 1.2em;
}
#sub dl dd {
  width: 75%;
  margin-bottom: 5px;
  text-align: left;
}
.works_img {
  width: 350px;
  margin: 10px auto;
}
.works_img_x {
  width: 500px;
  margin: 10px auto;
}
.works_img_y {
  width: 300px;
  margin: 10px auto;
}
#sub p img {
  width: 100%;
  height: auto;
}
#sub .pagelink {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
#sub .pagelink a {
  text-decoration: none;
  padding-left: 25px;
  background-image: url(img/125_arr_hoso.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}
#sub .pagelink a:hover {
  color: #000;
  transition: 0.3s;
  text-decoration: underline;
}
#sub .aisatsu {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.profile1 .pro1_text p {
  text-align: left;
}
#sub .box {
  margin-bottom: 60px;
  position: relative;
  padding: 30px;
  border-top: solid 2px #969494;
  border-bottom: solid 2px #969494;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.83);
}
.box:before, .box:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: calc(100% + 20px);
  background-color: #969494;
}
.box::before {
  left: 10px;
}
.box::after {
  right: 10px;
}
/*フェードイン*/
.inview {
  opacity: 0;
  transform: translateY(100px);
  transition: 0.8s;
}
.inview.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.profile2 div figure {
  max-width: 200px;
  margin: 30px auto;
}
#illust {
  margin-top: 10px;
}
.profile2 div figure img {
  width: 100%;
  height: auto;
}
#sub h4 {
  margin: 0;
  font-size: 16px;
}
h3 span {
  white-space: nowrap;
}
.profile2 {
  position: relative;
}
.animation {
  display: block;
  max-width: 350px;
  width: 70%;
  height: auto;
}
.animation {
  animation: floating-y 0.8s ease-in-out infinite alternate-reverse;
}
main .aisatsu span, .pro1_text span {
  white-space: nowrap;
}
.video   {
	width:80%;
	max-width: 700px;
	aspect-ratio:16 / 9 ;
	margin: 80px auto;
}
div iframe {
    display: block;
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: auto;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
}
main .video p {
	text-align: center;
}
main .to-site a {
	text-decoration: none;
	font-size: 18px;
}



@keyframes floating-y {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}
@media (max-width:900px) {
  main {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
  }
  .top_img {
    width: 90%;
    min-width: 200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
  .profile1, .profile2 {
    display: block;
    text-align: center;
  }
  .pro1_text {
    width: 100%;
    margin-top: 30px;
    font-size: 16px;
  }
  .profile2 div {
    width: 90%;
    margin: 0 auto;
  }
    nav {
        width: 70%;
        position: fixed;
        top: 0;
        right: -1000px;
        margin-right: 0px;
        height: 40vh;
        background-color: rgba(255, 255, 255, 1.00);
        padding-top: 60px;
        transition: 0.6s;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
            border: 1px solid #000;
        border-right:none;
	}
  .nav-open .nav-button {
    right: -20px;
  }
  .nav-open nav {
    right: 0;
  }
  header nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
   height: 95%;
    background-color: rgba(255, 255, 255, 1.00);
    overflow: auto;
    padding-bottom: 10px;
    border-bottom-left-radius: 30px;
  }
  nav li a {
    padding: 30px;
    color: #000000;
  }
  nav li::after {
    content: none;
  }
  .nav-button {
    visibility: visible;
    opacity: 1;
    margin-right: 8px;
  }
  .view {
    padding-bottom: 30px;
  }
  .works_img_x {
    width: 70%;
  }
  .profile2 div p {
    height: auto;
  }
  .tools {
    width: 50%;
    margin: 0 auto;
  }
	div iframe{
		padding: 20px;
	}
.thanks a {
    white-space: nowrap;
}
}
@media (max-width:600px) {
  #pagetop {
    opacity: 0;
    visibility: hidden;
  }
  .works_img_x {
    width: 100%;
  }
  .works_img {
    width: 90%;
  }
  #sub dl {
    margin: 0;
    display: block;
    text-align: center;
  }
  #sub dl dt {
    width: 20%;
    padding-left: 1.3em;
    text-align: center;
    white-space: nowrap;
  }
  #sub dl dd {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
  }
  #sub dl dd:last-of-type {
    text-align: left;
  }
  .view {
    text-align: center;
    margin-top: 0px;
  }
  .view a {
    padding: 20px 40px;
    margin-right: 0;
  }
  .sec_port ul:last-of-type {
    margin-bottom: 0px;
  }
  .works_img_y {
    width: 65%;
  }
	.video{
		width:95%;
	}
	
}
